.commande {
    color: $light-blue;
    left:20%;
    position: absolute;
    height:100%;
    width:80%;
    z-index:3;
}

.myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 2rem;
    .modal-content {
        max-height: 80%;
        height: 80%;
        .modal-title {
            padding: 0 2.25rem;
            height: 2rem;
            max-height: 2rem;
            text-transform: uppercase;
            font-size: 1.8rem;
        }
        .modal-body-overflowhidden{
          height: calc(100% - 4rem);
          width: 100%;
          padding: 0 2rem;
          overflow: hidden;
          position: relative;
          .modal-body {
              position: absolute;
              top: 0px;
              bottom: 0px;
              left: 0px;
              right: -15px;
              overflow: auto;
              overflow-x: hidden;
              .displayBlock{
                display:block;
                .displayIBlock{
                  display: inline-block;
                }
              }
          }
        }

        .modal-footer {
            height: 2rem;
            max-height: 2rem;
            padding: 0 2.25rem;
            width:100%;
        }
    }
}
