.map {
  .menuMapArea{
    margin-top:70px;
    position: absolute;
    width:20%;
    z-index:2;
    background-color: white;
    .menuMapItem{
      list-style-type: none;
      position: relative;
      background-color: #288feb;
      height:100px;
      width:98%;
      margin: 2px 2px 2px 2px;
      text-align: center;
    }
  }
  .fermier{
    left:20%;
    position: absolute;
    background-color: yellow;
    height:100%;
    width:80%;
    display:none;
  }

}